.grid-container {
	display: grid;
	grid-gap: 0.5em;
}

li {
	margin-left: -1em;
}

input[type="number"],
select {
	padding: 0.75rem;
	font-size: 100%;
	background-color: #eee;
}

.grid-label {
	padding: 8px;
	color: #ccc;
	text-align: center;
}

.grid-score {
	padding-top: 0.25em;
	font-size: 175%;
	font-weight: bold;
	text-align: center;
	background-color: #eee;
}

.grid-result {
	grid-column: 1 / span 3;
	padding-left: 16px;
	color: #eee;
}

.grid-result h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.grid-info {
	grid-column: 1 / span 3;
	margin-top: -1em;
	color: #eee;
}

.credits {
	color: #eee;
	text-align: center;
	display: block;
}

.calculate {
	padding: 1em;
	background-color: #2ecc40;
	cursor: pointer;
	text-align: center;
}

.calculate:hover {
	filter: brightness(110%);
}

.calculate:active {
	filter: brightness(95%);
}

.reset {
	padding: 1em;
	background-color: #ff4136;
	cursor: pointer;
	text-align: center;
}

.reset:hover {
	filter: brightness(110%);
}

.reset:active {
	filter: brightness(95%);
}

body {
	background-color: #111;
	font-family: Verdana;
}

.black {
	color: #111111;
	font-weight: bold;
}

.blue {
	color: #0074d9;
	font-weight: bold;
}

.pink {
	color: #f012be;
	font-weight: bold;
}

.red {
	color: #ff4136;
	font-weight: bold;
}

.yellow {
	color: #ffdc00;
	font-weight: bold;
}

.green {
	color: #2ecc40;
	font-weight: bold;
}

a {
	color: #eee;
}

a:hover {
	color: #ddd;
}