.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  padding: 1mm;
  justify-content: center;
}
input[type=number], select {
  padding: 12px;
}
.grid-label {
  color: #ccc;
}
.grid-score {
  padding-top: 4px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}
.grid-scorePercentage {
  padding-top: 8px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}
.grid-error {
  grid-column: 1 / span 3;
  min-height: 5em;
  border-color: WhiteSmoke;
  border-style: groove;
  color: white;
  padding: 10px;
}
.button {
  display: inline-block;
  padding: 1.2rem 0;
  color: #ddd;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  border: 0.25mm solid #ccc;
  border-radius: 1mm;
  box-sizing: border-box;
}
.button:hover {
  color: #fff;
  border: 0.25mm solid #fff;
}
.button:active {
  color: #eee;
  border: 0.25mm solid #eee;
}
body {
  background-color: #2b2b2b;
}
* {
  font-size: 100%;
  font-family: Verdana;
}
.text {
  font-size: 75%;
  position: absolute;
  top: 1%;
  padding: 5px;
  color: #fff;
}
.credits {
  padding: 5px;
  color: #fff;
  text-align: center;
  display: block;
}
a {
  color: #eee;
}
a:hover {
  color: #ddd;
}