.grid-container {
  display: grid;
  grid-gap: 1mm;
  padding: 1mm;
}

input[type=number],
select {
  padding: 15px;
  background-color: #eee;
}

.grid-label {
  padding: 10px;
  color: #ccc;
  text-align: center;
}

.grid-score {
  padding-top: 5px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-color: #eee;
}

.grid-scorePer {
  padding-top: 10px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-color: #eee;
}

.grid-error {
  grid-column: 1 / span 3;
  min-height: 4em;
  border-color: WhiteSmoke;
  border-style: groove;
  color: #eee;
  padding: 5px;
  margin-top: 1%;
}

.grid-info {
  grid-column: 1 / span 3;
  border-color: WhiteSmoke;
  border-style: groove;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 1%;
  color: #fff;
  display: block;
  text-align: center;
}

.credits {
  margin-top: 1%;
  color: #fff;
  text-align: center;
  display: block;
}

.button {
  display: inline-block;
  padding: 1.2rem 0;
  color: #ddd;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  border: 0.25mm solid #ccc;
  border-radius: 1mm;
  box-sizing: border-box;
}

.button:hover {
  color: #fff;
  border: 0.25mm solid #fff;
}

.button:active {
  color: #eee;
  border: 0.25mm solid #eee;
}

body {
  background-color: #222;
}

* {
  font-size: 100%;
  font-family: Verdana;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

a {
  color: #eee;
}

a:hover {
  color: #ddd;
}