.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 1em;
  padding: 1mm;
  justify-content: center;
}
input[type=number], select {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 0.3mm solid #ccc;
  box-sizing: border-box;
  background-color: #eee;
}
.grid-label {
  color: #ccc;
}
.grid-result {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-color: #eee;
}
.grid-error {
  grid-column: 1 / span 3;
  min-height: 5em;
  font-size: 100%;
  border-color: WhiteSmoke;
  border-style: groove;
  color: white;
  padding: 15px;
}
.button {
  display: inline-block;
  padding: 1.2rem 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  border: 0.3mm solid #ccc;
  border-radius: 1mm;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  background-color: #2b2b2b;
}
* {
  font-size: 100%;
  font-family: Verdana;
}
.credits {
  padding: 5px;
  color: #fff;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.credits a{
  color: #eee;
}
.credits a:hover{
  color: #ddd;
}